body {
  background: #4d85a3;
}
main {
  background-color: #868181;
  box-shadow: 10px;
  border-radius: 6;
}
header {
  color: #e4e4e4;
  background-color: #000070;
  font-family: fantasy;
}
main {
  font-family: fantasy;
}
button {
  color: #000000;
}
button:hover {
  color: #485fc7;
}
