<h1 class="text-center mt-5">Let's Start Cooking</h1>
<div class="input-group d-flex justify-content-center mb-5">
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Ingredient">
        <label for="floatingInput">Type Ingredients Here</label>
    </div>
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
</div>
<div class="container ">
    <div class="row d-flex justify-content-around">
        <div class="col-6 border border-dark">
            <h2 class="text-center">Recipes:</h2>
            <div class="border border-dark mb-5">
                <ul>
                    <!-- Add recipes api output here -->
                </ul>
            </div>
        </div>
        <div class="col-6 border border-dark">
            <h2 class="text-center">Picked Ingredients:</h2>
            <div class="border border-dark mb-5">
                <ul>
                    <!-- Add user previous ingredient search as an option they picked -->
                </ul>
            </div>
        </div>
    </div>
</div>


